.App {
  overflow: hidden
}

.ImageBox {
  /* background-color: aquamarine;
  border-style: solid;
  margin: 1vw;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: rgba(150, 150, 150, 0.5);
  text-align: center; */
  padding: 0;
  display: grid;
  position: relative;
  padding-bottom: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.animeTitle {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 25%;
  padding-right: 25%;
  color: rgb(216, 216, 216);
  align-self: end;
  justify-self: center;
  position: absolute;
}

.imageContainer {
  width: 5vmin;
  background-color: goldenrod;
}

.imageBox {
  border: 1px solid grey;
  width: 2vmin;
}

.imageRow {
  height: 20vmin,
}

.Anime {
  cursor: pointer;
  color: blue;
}

.Anime > .selected {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
